.card{
    margin-top: 10px;
}
.customers{
    background-color: #20948B;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.btn-custom{
    background-color: #20948B;
    width: 100%;
}
label{
    color: #20948B;
}