.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inner-container{
    width: 500px;
    border: 2px solid #20948B;
    padding: 10px;
    border-radius: 10px;
}
label{
    color: #20948B;
}
h1{
    text-align: center;
    color: #20948B;
}
.btn-custom{
    background-color: #20948B;
    width: 100%;
}